
node_modules/
dist/

.env
.env.local
.env.production


*.db
*.db-journal


logs/
*.log
npm-debug.log*

.vscode/
.idea/
*.swp
*.swo


.DS_Store
Thumbs.db


prisma/migrations/*/migration_lock.tomlReal-Time-Chat-Application/ 
Real-Time-Chat-Application/ 
.vercel
